.bounce {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  .bounce {
    display: inline-block;
    animation: bounce 1s infinite;
    font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  
  text-transform: uppercase;
  }